@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<li>@Html.ActionLink("Create an account!", "Index", "Account")
</li>
<li>@Html.ActionLink("See a list of recipes", "Index", "Recipe")
</li>
<li>@Html.ActionLink("See a list of tags", "Index", "Tag")
</li>


