@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<li>@Html.ActionLink("Create an account!", "Index", "Account")
</li>
<li>@Html.ActionLink("See a list of treats", "Index", "Treat")
</li>
<li>@Html.ActionLink("See a list of flavors", "Index", "Flavor")
</li>
